{% extends 'base.html' %}

{% block title %}Artists - {{ block.super }}{% endblock title %}

{% block nav-artist %}active{% endblock nav-artist %}

{% block pagetitle %}Artists{% endblock pagetitle %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Username</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for artist in all_artists %}
                                <tr>
                                    <td>{{ artist.id }}</td>
                                    <td><a href="{% url 'view_artist' id=artist.id %}">{{ artist.username }}</a></td>
                                    <td>{{ artist.email }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}