{% extends 'base.html' %}

{% block title %}{{ artist.username }} - {{ block.super }}{% endblock title %}

{% block nav-artist %}active{% endblock nav-artist %}

{% block pagetitle %}{{ artist.username }}{% endblock pagetitle %}

{% block content %} 

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
            {% if work %}
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Submit Date</th>
                                <th>Approved Date</th>
                                <th>Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for work in work %}
                                <tr>
                                    <td><a href="{% url 'view_work' id=work.id %}">{{ work.title }}</a></td>
                                    <td>{{ work.submit_date }}</td>
                                    <td>{{ work.approved_date }}</td>
                                    <td><img height="64" src="{{ work.image.url }}"/></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <br />
                <p><em>Sorry, <span class="text-capitalize">{{ artist.username }}</span> does not have any approved work yet.</em></p>
                <p><em>Check back soon!</em></p>
            {% endif %}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">{{ count.submission }}</span>
                        Submissions
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{ count.pending }}</span>
                        Pending
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{ count.approved }}</span>
                        Approved
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{ count.rejected }}</span>
                        Rejected
                    </li>
                    <li class="list-group-item">
                        Joined
                        <span class="pull-right">{{ artist.date_joined }}</span>
                    </li>
                    <li class="list-group-item">
                        Last Login
                        <span class="pull-right">{{ artist.last_login }}</span>
                    </li>
                </ul>
                {% if artist == request.user %}
                    <a href="{% url 'add_work' %}"><button class="btn btn-primary pull-right bot-pad">Add Work</button></a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}