html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 25px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 25px;
  background-color: #008cba;
}
.footer .container span{
    color: #ffffff;
}
.navbar{
    margin-bottom:0px;
}
.page-title{
    text-transform: capitalize;
}
.faq{
    padding-left: 0;
}
.faq li{
    list-style-type: none;
}
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../images/ajax_loader_gray.gif')
                50% 50%
                no-repeat;
}
body.loading {
    overflow: hidden;
}
body.loading .modal {
    display: block;
}