html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 25px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 25px;
  background-color: #008cba;
}

.footer .container span{
    color: #ffffff;
}

.navbar{
    margin-bottom:0px;
}

.page-title{
    text-transform: capitalize;
}